{% extends 'base.html.twig' %}

{% block title %}Organisation{% endblock %}
{% block stylesheets %}
    <style>
        body {
            background-image:
                    linear-gradient(to right, rgba(0, 0, 0, 50%) 20%, rgba(0, 0, 0, 50%) 100%),
                    url("https://media.starcitizen.tools/thumb/2/2e/Arccorp-area18-jobwell-interior01.jpg/1920px-Arccorp-area18-jobwell-interior01.jpg.webp");
            background-size: cover;
            background-repeat: no-repeat, repeat;
            background-attachment: fixed;
            overflow: hidden;
            width: 100vw;
            height: 100vh;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="mt-15 flex items-center justify-center px-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">

            <!-- Carte 1 -->
            <a href="organisation/vaisseaux" class="block transform transition-transform duration-300 hover:scale-105">
                <div class="relative bg-blue-700 rounded-2xl overflow-hidden shadow-lg w-64 h-80">

                    <!-- Image de fond -->
                    <img src="{{ asset('assets/flotte.jpg') }}" alt="Carte 1"
                         class="absolute inset-0 w-full h-full object-cover z-0">

                    <!-- Overlay de contenu -->
                    <div class="relative z-10 flex items-center justify-center h-full bg-black/50">
                        <h3 class="text-lg font-bold text-white text-center">Vaisseaux</h3>
                    </div>

                </div>
            </a>
            <!-- Carte 2 -->
            <a href="organisation/utilisateurs" class="block transform transition-transform duration-300 hover:scale-105">
                <div class="relative bg-blue-700 rounded-2xl overflow-hidden shadow-lg w-64 h-80">

                    <!-- Image de fond -->
                    <img src="https://media.starcitizen.tools/thumb/9/94/SC-3.22_20240320_130012_C1-sit-bed.png/1920px-SC-3.22_20240320_130012_C1-sit-bed.png.webp" alt="Carte 1"
                         class="absolute inset-0 w-full h-full object-cover z-0">

                    <!-- Overlay de contenu -->
                    <div class="relative z-10 flex items-center justify-center h-full bg-black/50">
                        <h3 class="text-lg font-bold text-white text-center">Utilisateurs</h3>
                    </div>

                </div>
            </a>
            <!-- Carte 3 -->
            <a href="organisation/attente" class="block transform transition-transform duration-300 hover:scale-105">
                <div class="relative bg-blue-700 rounded-2xl overflow-hidden shadow-lg w-64 h-80">

                    <!-- Image de fond -->
                    <img src="https://media.starcitizen.tools/thumb/9/94/SC-3.22_20240320_130012_C1-sit-bed.png/1920px-SC-3.22_20240320_130012_C1-sit-bed.png.webp" alt="Carte 1"
                         class="absolute inset-0 w-full h-full object-cover z-0">

                    <!-- Overlay de contenu -->
                    <div class="relative z-10 flex items-center justify-center h-full bg-black/50">
                        <h3 class="text-lg font-bold text-white text-center">Comptes en attente<br>de validation</h3>
                    </div>

                </div>
            </a>


        </div>
    </div>

{% endblock %}
